.links,
.textpath,
.edgeLegend {
    fill: none;
    opacity: .8;
}

.textpath {
    visibility: hidden;
}

.axisLine {
    stroke-width: 2px;
    stroke: black;
}

.sizeCircle {
    fill: rgb(110, 110, 110);
}

.nodeBorder {
    stroke-width: 7px;
    stroke: white;
    fill: none
}

.label {
    fill: #3a3a3a;
    text-anchor: middle;
    dominant-baseline: middle;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: -moz-none;
    -o-user-select: none;
    user-select: none;
}

.selectBox {
    stroke: rgb(94, 94, 94);
    fill: white;
    stroke-width: 2px;
}

.label,
.selectBox,
.labelBackground {
    cursor: pointer;
}

.pathLabel>textPath {
    font-size: 14px;
}

.edgeArrow>textPath {
    font-size: 10px;
}

.legendLabel,
.catLegend {
    font-size: 1em;
}

.muted {
    opacity: .2;
}

.hideLabel {
    visibility: hidden;
}

.frame {
    fill: white;
    stroke-width: 1px;
    stroke: black;
}

.barGroup>.bar {
    stroke-width: 2px;
    stroke: white;
    fill: rgb(167, 197, 158);
}

.nodeGroup {
    cursor: pointer;
}

#node-link-svg {
    display: inline-flex;
}

#disableInteraction {
    fill: white;
    opacity: .7;
}

.input {
    width: 60% !important;
}

.input.searchInput {
    width: 65% !important;
}

.node {
    stroke-width: 1px;
    stroke: rgb(200, 200, 200);
}

.node.clicked {
    stroke-width: 6px;
    stroke: #F8CF91;
}

.selected .labelBackground.nested {
    fill: #ea9b0f;
    opacity: .6;
}

#finished,
#next,
#previous {
    margin: 50px 0px 0px 0px;
    padding: 10px;
    background-color: rgb(3, 93, 158);
    color: white;
    font-size: 20px;
    font-weight: bold;
}

.button.clicked {
    color: rgb(217, 99, 3) !important;
}

.button.condition {
    margin: 0px 0px 0px 10px;
    background-color: rgb(192, 192, 192);
    color: rgb(57, 57, 57);
    font-weight: bold;
}

.labelBackground.nested {
    opacity: .2;
    fill: rgb(112, 112, 112);
}

.labelBackground {
    opacity: .4;
    fill: rgb(255, 255, 255);
}

#vis {
    display: flex;
}

#panelDiv .button {
    width: 300px;
}

#panelDiv {
    background-color: white;
    position: absolute;
    left: calc(100vw - 350px);
    height: 100vh;
    width: 350px;
    overflow-y: scroll;
}

#panelDiv .menu {
    padding: 10px;
}

.ticks {
    font-size: 12px;
}
