* {
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    margin: 0px;
}

div.tooltip {
    position: absolute;
    color: black;
    text-align: center;
    font-size: 13px;
    width: 100px;
    border-radius: 5px;
    padding: 2px;
    background: white;
    border: 0px;
    pointer-events: none;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
}

#targetSize {
    width: 100vw;
    height: 100vh;
}

#visPanel {
    height: 100vh;
    overflow-y: scroll;
}

#clear-selection,
#panelControl {
    width: 80%;
    color: white;
    background-color: #898989;
    width: 65%
}

#clear-selection {
    margin-top: 10px;
}

#searchButton {
    color: white;
    background-color: #4285f4;
    width: 30%;
}

.errorMsg {
    margin-bottom: 0px !important;
    display: none;
    color: rgb(211, 5, 5);
    font-style: italic;
}

#config {
    margin: 2px;
}