name: Build
on:
  push:
    branches:
      - master

jobs:
  build:
    name: Build and push to deploy
    runs-on: ubuntu-latest
    steps:
      - run: "curl -XPOST -u \"${{secrets.USERNAME}}:${{secrets.TOKEN}}\" -H \"Accept: application/vnd.github.everest-preview+json\"  -H \"Content-Type: application/json\" https://api.github.com/repos/multinet-app/multinet-deploy/dispatches --data '{\"event_type\":\"build_application\", \"client_payload\": {\"repo\": \"view-nodelink\"}}'"
