name: Lint application using multinet-app/.github generic lint workflow

on: 
  pull_request:
    branches:
      - '**'
  
  push:
    branches:
    - main

jobs:
  lint:
    uses: multinet-app/.github/.github/workflows/lint.yaml@main
